extend _layout

block title
  | Login
  
block content
  if username
    div.alert.alert-success
      strong Olá #{username}. 
      | Você já está logado no sistema.
  else
    div.row
      div.col-md-6
        form(role="form", action="/login", method="POST")
          div.form-group
            label(for="username") E-mail
            input#username.form-control(name="username", placeholder="Endereço de e-mail")
          div.form-group
            label(for="password") Senha
            input#password.form-control(type="password", name="password", placeholder="Digite sua senha")
          button.btn.btn-lg.btn-block.btn-primary(type="submit") Login